---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
hide_title: true
redirect_from:
  - /publications/
---

{% for category in site.publication_category %}
  <h2>{{ category[1].title }}</h2>
  {% for post in site.publications reversed %}
    {% if post.category != category[0] %}{% continue %}{% endif %}
    <div class="entry">
      <p class="entry__title">
        {% if post.paperurl %}<a href="{{ post.paperurl }}">{{ post.title }}</a>{% else %}{{ post.title }}{% endif %}
        {% if post.note %}<span class="entry__note">({{ post.note }})</span>{% endif %}
      </p>
      {% if post.coauthors %}<p class="entry__meta">{{ post.coauthors }}</p>{% endif %}
      {% if post.venue %}<p class="entry__meta"><i>{{ post.venue }}</i>, {{ post.date | date: "%B %Y" }}</p>{% endif %}
      {% assign abstract = post.content | strip_html | strip %}
      {% if abstract != "" %}
        <details><summary>Abstract</summary>{{ post.content }}</details>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}
